*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color:#FFF8F3 ;
    color:black;
    padding-top: 50px;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FF6E40;
}

.btn{
    padding: 18px 35px;
    border: none;
    border-radius: 10px;
    background-color: #FF6E40;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    font-weight: 600;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px ;
    color: #474747;
    transition: color 0.3s ease;
}
