*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color:#FFF8F3 ;
    color:black;
    padding-top: 50px;
    background: url(./images/developer.png),url(./images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left , bottom right;

}

.logo{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FF6E40;
}

.btn{
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: #FF6E40;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}

.section-heading{
    text-align: center;
    max-width: 800px;
}

.section-heading h2{
    font-size: 35px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 25px;
}

.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    font-weight: 600;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px ;
    color: #474747;
    transition: color 0.3s ease;
}

#banner{
    /* border: 1px solid black; */
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 47px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    /* border: 1px solid black; */
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 80px;
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
}
#banner .banner-content h3{
    font-size: 30px;
    font-weight: bold;
    color :#474747;
    margin-bottom: 15px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 35px;
    line-height: 30px;
    max-width: 585px;
    margin-top: 10px;
}

.btn-group{
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

#banner .banner-image img{
    max-width:auto ;
    height: auto;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3 ;
    padding: 131px 156px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    gap: 30px;
}


.about-info .info-card p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}